
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #FFFFFF;

  --body-font-family:             'Open Sans', sans-serif;
  
  }
  
  
  body {
      background: var(--white-color);
      font-family: var(--body-font-family);    
      position: relative;
  }
  

/*---------------------------------------
  HERO              
-----------------------------------------*/
 .hero {
  background: url('../../media/faqbg.png');
  object-fit: cover;
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
} 
 
.heroText {
  position: relative;
  z-index: 2;
  width: inherit;
  font-weight: 700;
} 
 


@media screen and (min-width: 991px) {
  .hero {
    height: 100vh;
  }
}

/*---------------------------------------
  FAQ ACCORDION               
-----------------------------------------*/
.faq{
  padding-bottom: 250px;
}
 
.accordion-item {
    font-size:18px ;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgb(226, 217, 217);
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(194, 186, 186, 0.5);
    width: 53vw; 
    min-width: 700px; 
    margin: 7px auto;
    overflow: hidden;
    padding: 15px 10px 15px 10px;
  }
 
  
  .accordion-button {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.3rem;
    font-weight: 600; 
    line-height: 27.24px;
    letter-spacing: 0.15px;
  }
  
  .accordion-button:not(.collapsed) {
    background: transparent;
    box-shadow: none;
  }
  
  button:focus:not(:focus-visible) {
    border-color: transparent;
    box-shadow: none;
  }

  
  .accordion-button {
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 0;
  }
  
  .accordion-body {
    padding: 2rem 0;
    font-size: 24px;
    line-height: 32.68px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

/*-------------------------------------------------------------------------------------------------
  RESPONSIVE STYLES               
---------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
    .accordion-item{
      width: 53vw; 
      min-width: 500px; 
    }
  }
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    .accordion-item{
      width: 70vw; 
      min-width: 400px; 
    }
  
    .accordion-button{
      font-size: 16px;
      font-weight: 600; 
      line-height: 21.79px;
      letter-spacing: 0.5px;
    }
    .accordion-body{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: rgb(27, 22, 22); 
    }
  }

  @media screen and (max-width: 500px) {

    .accordion-item{
      width: 80vw; 
      min-width: 300px; 
    }
  }
  
  