@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:wght@100&family=Figtree:wght@300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=League+Spartan:wght@500;700;800&family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&family=Pavanam&family=Public+Sans:ital,wght@0,300;0,700;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Source+Sans+3:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");

.courses {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  .one {
    position: relative;
    img {
      width: 100vw;
      object-fit: contain;
    }
    h1 {
      position: absolute;
      top: 33%;
      display: block;
      width: 100vw;
      text-align: center;
      color: white;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 72px */
      letter-spacing: 0.5px;
    }
  }
  .two {
    margin-top: 42px;
    display: flex;
    align-items: center;
    padding: 42px 7vw;
    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px; /* 183.333% */
      letter-spacing: -1.5px;
      margin-right: 24px;
    }
    img {
      width: 40vw;
      object-fit: contain;
      max-width: 800px;
    }
  }
  .three {
    display: flex;
    padding: 50px 7vw;
    display: flex;
    justify-content: space-between;
    article {
      width: 26vw;

      display: flex;
      flex-direction: column;
      img {
        object-fit: contain;
        border-radius: 12px;
      }
      aside {
        padding: 22px 1.8vw;
        position: relative;
        bottom: 30px;
        border-radius: 16px;
        background-color: white;
        span {
          font-size: 22px;
          padding-top: 10px;
          font-weight: 400;
          padding-bottom: 20px;
          text-align: center;
          width: inherit;
          display: block;
          border-radius: 40px;
          background: var(--lighter-grey, #dbdbdc);
          box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.4);
        }
        p {
          color: var(--deep-grey, #868688);
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.15px;
        }
        a {
          margin-top: 30px;
          color: var(--lighter-grey, #dbdbdc);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.15px;
        }
      }
    }
  }
}
body {
  padding: 0;
  margin: 0;
}
