/* General Styles */
:root {
  --primary-color: rgb(46, 102, 153);
  --secondary-color: rgb(53, 158, 214);
  --secondary-color-lvl2: #fff;
  --secondary-color-lvl3: #000;
  --title-font-family: "Lora", serif;
  --primary-font-family: "Signika Negative", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  overflow-x: hidden;
}

img {
  width: 100%;
}

.navbar {
  background: linear-gradient(215deg, #010926 60%, rgba(218, 232, 235, 1) 73%);
}
.navbar-brand img {
  width: 100%;
  max-width: 120px;
}

.nav-item .nav-link {
  color: #fff;
  font-weight: 700;
  font-family: var(--primary-font-family);
}

.navbar-toggler-icon {
  background-color: #fff;
}

hr {
  color: #fff;
  opacity: 1;
}

.btn-custom {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.3s ease-in;
}

.btn-custom:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* FAQs */

.faq-hero {
  width: 100vw;
  height: 60vh;
  /* background: url("../../assets/images/faqbg.png"); */
  background: radial-gradient(rgba(10, 10, 10, 0.35), rgba(10, 10, 10, 0.55)), url("https://images.unsplash.com/photo-1616593437252-0631aeb95590?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
}

/* Courses */

.courses-hero {
  width: 100vw;
  height: 60vh;
  background: radial-gradient(rgba(10, 10, 10, 0.35), rgba(10, 10, 10, 0.55)), url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-attachment: fixed;
}

.courseIntro {
  min-height: 50vh;
}

.courseIntro__desc p {
  font-size: 1.5em;
  line-height: 1.8em;
}

.courseIntro__img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.coursesList {
  background: rgba(235, 235, 235, 0.35);
}

.coursesList hr {
  color: #000;
  width: 5%;
  height: 0.5em;
  background-color: var(--secondary-color);
}

.coursesList__course {
  border: 2px solid var(--secondary-color);
}

.coursesList__course,
.coursesList__course img,
.coursesList__course--thumbnail {
  border-top-right-radius: 1.2em;
  border-top-left-radius: 1.2em;
}

.coursesList__course--thumbnail {
  max-height: 300px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.coursesList__course img {
  width: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.coursesList__course:hover img {
  border-radius: 0;
  transform: scale(1.2);
}

.coursesList__course--title {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 0.85rem 0;
}

.coursesList__course--desc {
  padding: 0.85rem;
}

/* Enrolment Form */

.enrol-header {
  width: 100vw;
  height: 60vh;
  background: radial-gradient(rgba(10, 10, 10, 0.35), rgba(10, 10, 10, 0.55)), url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-attachment: fixed;
}

.enrolmentForm input[type="text"],
.enrolmentForm input[type="email"] {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
}

.enrolmentForm input::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
}

.enrolmentForm input[type="text"]:focus,
.enrolmentForm input[type="email"]:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Free Taster Form */

.freeTasterForm .form-select {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
}

.freeTasterForm .form-select:focus {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--primary-color);
}

/* End Free Taster Form */

/* Footer */

.footer {
  background: linear-gradient(215deg, #010926 60%, rgba(218, 232, 235, 1) 93%);
  color: #fff;
}

.footer__social--logo img {
  width: 100%;
  max-width: 120px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__social--icons {
  display: flex;
  gap: 0.85em;
}

.footer__social--icons a {
  transition: all 0.3s ease-in;
}

.footer__social--icons a:hover {
  opacity: 0.85;
  transform: scale(1.2);
}

.footer__social--icons img {
  width: 100%;
  max-width: 30px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  /* background-color: teal; */
  text-align: justify;
}

/* Media Queries */

@media (max-width: 620px) {
  .courses-hero,
  .faq-hero,
  .enrol-header {
    background-attachment: scroll;
  }
  .footer__social {
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
  }

  .footer {
    background: linear-gradient(215deg, #010926 93%, rgba(218, 232, 235, 1) 13%);
    color: #fff;
  }
}
