{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}
    
{% block content %}

<main>
    <section class="about-hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white text-center">About Us</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutUs">
        <div class="aboutUs__bg">

        </div>
        <div class="aboutUs__desc">
            <h4>About DCA</h4>

            <div class="aboutUs__desc--text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id atque dolorum quia magni fugiat
                    distinctio corporis facere accusantium dolore, aliquid voluptatum amet voluptatibus ab minus
                    doloremque, totam optio laudantium recusandae repudiandae sint. Corporis deserunt repellendus
                    tempore impedit totam ipsa? Aperiam nobis nostrum quisquam fuga hic voluptatum, dolor unde
                    consectetur sed consequatur in est facere doloremque iure similique voluptates, quam.
                    <br> <br>
                    exercitationem
                    neque eaque eius accusantium totam placeat voluptatibus. Aliquid fuga optio quaerat obcaecati
                    repellat repudiandae ipsam inventore voluptates ad porro, earum suscipit totam nulla molestiae
                    dolor
                    numquam et dignissimos modi eveniet? Placeat excepturi obcaecati laboriosam voluptate delectus
                    odio
                    optio facere saepe.
                </p>
            </div>
        </div>
    </section>

    <section class="aboutUs moreAboutUs">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="aboutUs__bg">
                        <img src="{% static 'assets/images/mobile.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="aboutUs__desc">
                        <h4>Why Digital Careers Academy</h4>

                        <div class="aboutUs__desc--text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id atque dolorum quia magni
                                fugiat
                                distinctio corporis facere accusantium dolore, aliquid voluptatum amet voluptatibus
                                ab minus
                                doloremque, totam optio laudantium recusandae repudiandae sint. Corporis deserunt
                                repellendus
                                tempore impedit totam ipsa? Aperiam nobis nostrum quisquam fuga hic voluptatum,
                                dolor unde
                                consectetur sed consequatur in est facere doloremque iure similique voluptates,
                                quam.
                                <br> <br>
                                exercitationem
                                neque eaque eius accusantium totam placeat voluptatibus. Aliquid fuga optio quaerat
                                obcaecati
                                repellat repudiandae ipsam inventore voluptates ad porro, earum suscipit totam nulla
                                molestiae
                                dolor
                                numquam et dignissimos modi eveniet? Placeat excepturi obcaecati laboriosam
                                voluptate delectus
                                odio
                                optio facere saepe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="coaches">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="coaches__coach">
                        <div class="coaches__coach--thumbnail mb-5">
                            <img src="{% static 'assets/images/img6.png' %}" alt="">
                        </div>
                        <div class="coaches__coach--desc mt-3">
                            <p>
                                &ldquo;
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero ratione
                                non.
                                Atque
                                asperiores mollitia fugit, obcaecati porro praesentium adipisci voluptatem
                                ipsum,
                                voluptatum accusamus rerum. Quas consectetur illum similique rem possimus ut
                                laboriosam
                                libero aspernatur quasi fugiat adipisci odit, iusto in et autem ad. Quae
                                facere
                                ipsam
                                expedita dicta odit.
                                &rdquo;
                            </p>
                            <p>
                                <strong>John Doe</strong> <br>
                                <span class="coach__title">
                                    Lorem ipsum dolor sit amet consectetur adipisicing.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-5 mx-auto">
                    <div class="coaches__coach">
                        <div class="coaches__coach--thumbnail mb-5">
                            <img src="{% static 'assets/images/img7.png' %}" alt="">
                        </div>
                        <div class="coaches__coach--desc mt-3">
                            <p>
                                &ldquo;
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero ratione
                                non.
                                Atque
                                asperiores mollitia fugit, obcaecati porro praesentium adipisci voluptatem
                                ipsum,
                                voluptatum accusamus rerum. Quas consectetur illum similique rem possimus ut
                                laboriosam
                                libero aspernatur quasi fugiat adipisci odit, iusto in et autem ad. Quae
                                facere
                                ipsam
                                expedita dicta odit.
                                &rdquo;
                            </p>
                            <p>
                                <strong>John Doe</strong> <br>
                                <span class="coach__title">
                                    Lorem ipsum dolor sit amet consectetur adipisicing.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}