{% extends 'base.html' %}
{% load static %}

{% block title %}
Work Experience Program
{% endblock title %}

{% block content %}

<main>
  <section class="wpe-hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white text-center">Work Experience </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="get-experience">

    <div class="container col-xxl-8 px-4 py-3">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-md-6 col-sm-10 col-lg-4">
          <img src="../../static/assets/images/workeximg.jpeg" class="d-block mx-lg-auto img-fluid" alt="first"
            width="600" height="500" loading="loading">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-8">
          <h4 class="display-5 fw-bold lh-1 mb-3">Get Practical Work Experience</h4>
          <p>3-months advanced hands-on training and practical work experience program.
            Get your hands dirty as
            you join your agile team members to develop a real digital product in a fast-paced environment.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Join Team</button> -->
            <a href="work-experience-form.html" class="btn btn-custom px-4 me-md-2" role="button">Join
              Team</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="how-it-works">
    <div class="container col-xxl-8 px-4 py-3">
      <div class="row flex-lg-row g-5 py-5">
        <div class="col-md-12 col-sm-12 col-lg-6">
          <h4 class="display-5 fw-bold lh-1 mb-3">About the program</h4>
          <p>
            This program is suitable for you if you have some background knowledge in either Product Management,
            Business Analysis, Product ownership, Scrum Mastery, UX, Data Privacy, or software development theories
            and
            tools, but have not gained the relevant experience to secure a job. The work experience section on your CV
            can make or break your chances of securing your dream job – Welcome to The Work Experience Program!
          </p>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6">
          <h4 class="display-5 fw-bold lh-1 mb-3">Here is how it works</h4>
          <p>
            You will join an agile scrum team on a live digital product which provides you the opportunity to get your
            hands dirty gaining hands-on training and practical work experience. Please note that you will be working
            on
            real products not simulation, therefore, this course is not intended for persons with no previous product
            development knowledge/experience.
            During each sprint, your team is expected to carry out a sprint review where you receive feedback from
            major
            stakeholders and potential recruiters. You will be working on products such as: AI products for
            healthcare,
            our LMS, building a responsive website for our career academy and so much more.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="program-desc">
    <div class="container col-xxl-8 px-4 py-3">
      <div class="row flex-lg-row g-5 py-5">
        <div class="col-md-12 col-sm-12 col-lg-6">
          <h4 class="display-5 fw-bold lh-1 mb-3">Program Description</h4>
          <p>
          <ul>
            <li>3 months advanced hands-on training and practical work experience</li>
            <li>Product discovery, planning, development, deployment and growth hacking</li>
            <li>Scrum Ceremonies</li>
            <li>Remote Collaboration</li>
            <li>Interactive Live session</li>
            <li>LinkedIn Profile setup</li>
            <li>Interview Guidance</li>
            <li>Job Opportunities</li>
            <li>Work reference</li>
            <li>On-the-job support</li>
          </ul>
          </p>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6">
          <h4 class="display-5 fw-bold lh-1 mb-3">Career Prospects</h4>
          <p>
            Your career prospects after your work experience program will be well worth it as you will possess skills
            and expertise to apply for and secure roles such as:
          <ul>
            <li>Business Analyst</li>
            <li>Product Owner</li>
            <li>Business Process Improvement Analyst</li>
            <li>Product Manager</li>
            <li>Bubble Software Developer</li>
            <li>Scrum Master</li>
            <li>Data Privacy Expert</li>
            <li>and so much more</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="d-grid gap-2 col-6 mx-auto pb-lg-5 mb-4">
    <button class="btn btn-primary btn-lg" type="button">Join Team</button>
  </div>

</main>

{% endblock content %}


  