<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="images/favicon .ico" type="image/x-icon" />
        <title>Courses</title>

        <link href="../static/course.css" rel="stylesheet">
    </head>
    <body>
        <nav>

        </nav>
        <!--courses-->
        <main class="courses">
            <section class="one">
                 <img src="../media/courses1.png" alt="">
                 <h1>Courses</h1>
            </section>
            <section class="two">
                <p> Jumpstart your TECH career by enrolling for Digital Careers Academy’s 6-week intensive business analysis program. Learn how to identify business needs and using industry standard tools determine solutions to complex problems by translating business requirements into actionable technical specifications </p>
                <img src="../media/courses2.png" alt="">
            </section>
            <section class="three">
                <article>
                    <img src="../media/courses3.png" alt="">
                    <aside>
                        <span>
                            Practical Scrum Master
                        </span>
                        <p>
                            The Practical Scrum Master training is a 6-weekfast-track, intensive program that equips you with the right skills needed to thrive as an experienced ....
                        </p>
                        <a href="">Enrol Now</a>
                    </aside>
                </article>
                <article>
                    <img src="../media//courses4.png" alt="">
                    <aside>
                        <span>Practical Business Analysis</span>
                        <p>Learn to identify business needs and using industry standard tools to determine solutions to complex problems by translating business.......</p>
                        <a href="">Enrol Now</a>
                    </aside>
                </article>
                <article>
                    <img src="../media/courses5.png" alt="">
                    <aside>
                        <span>Data Analytics</span>
                        <p>
                            The Practical Data Analytics training is a 12-week intensive program that equips you with the right skills needed to thrive as a Data Analytics Expert. 
                        </p>
                        <a href="">Enrol Now</a>
                    </aside>
                </article>
            </section>
        </main>
    </body>
</html>