<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/homePage.css">
    <script src="https://kit.fontawesome.com/668787d471.js" crossorigin="anonymous"></script>
  </head>
  <body>

<!-- Carousel Start -->
    <!-- Header -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"
              ><img src="./images/white-logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Work Experience Program</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FAQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active free-taster btn btn-outline-primary" aria-current="page" href="#">Free Taster Session</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="connect_me">
           <a aria-current="page" style="right: -150px;" class="enquiry active" href="">
            <i class="fa-brands fa-info"></i>
            <span>Enquiry</span>
        </a>
        <a aria-current="page" class="telegram active" href="" class="">
            <i class="fa-brands fa-telegram"></i>
            <span>Telegram</span>
        </a>
        <a aria-current="page" class="whatsapp active" href="" class="">
            <i class="fa-brands fa-whatsapp"></i>
            <span>Whatsapp</span>
        </a>
        <a aria-current="page" class="message active" href="" class="">
            <i class="fa-brands fa-message"></i>
            <span>Book A Call</span>
        </a>

        </div>

        <div id="carouselExampleCaptions" class="carousel slide relative">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./images/mobile_1.png" class="d-block w-100 img-fluid" alt="...">
                <div class="carousel-caption article">
                  <h5>Did You Know?</h5>
                  <p>You can be trained to become a Scrum Master in 6weeks. Scrum
                    Masters can earn £650 per day in UK.</p>
                    <a href="/">Enrol</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./images/mobile_2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption article">
                  <h5>Did you know?</h5>
                  <p>You can be trained to become a Scrum Master in 6weeks. Scrum
                    Masters can earn £650 per day in UK.</p>
                    <a href="/">Enrol</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./images/mobile_3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption article">
                  <h5>Did you know?</h5>
                  <p>You can be trained to become a Scrum Master in 6weeks. Scrum
                    Masters can earn £650 per day in UK.</p>
                    <a href="/">Enrol</a>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section class="courses">
            <h2>Explore Our Courses</h2>
            <main>
              <article>
                <div class="detail">
                  <img loading="lazy" src="images/imgb.png" alt="" />
                  <span>Practical Scrum Master</span>
                </div>
                <div class="swipe_up">
                  <h4>Practical Scrum Master</h4>
                  <p>
                    The Practical Scrum Master training is a 6-week fast-track,
                    intensive program that equips you with the right skills needed
                    to thrive as an experienced Scrum Master within an Agile Product
                    Development environment.
                  </p>
                  <a href="/scrum"> Enrol Now</a>
                </div>
              </article>
              <article id="business_analysis">
                <div class="detail">
                  <img loading="lazy" src="images/imgc.png" alt=""/>
                  <span>Practical Business Analysis</span>
                </div>
    
                <div  class="swipe_up">
                  <h4>Practical Business Analysis</h4>
                  <p>
                    Jumpstart your TECH career by enrolling for Digital Careers
                    Academy’s 6-week intensive Business Analysis program. Learn to
                    identify business needs and translate business requirements into
                    actionable technical specifications.
                  </p>
                  <a href="/business_analysis">Enrol Now</a>
                </div>
              </article>
              <article>
                <div class="detail">
                  <img loading="lazy" src="images/imgb.png" alt="" />
                  <span id="data_a">Data Analytics</span>
                </div>
                <div class="swipe_up">
                  <h4> Data Analytics</h4>
                  <p>
                    Data Analytics experts are in high demand within the global tech
                    industry. The Practical Data Analytics training is a 12-week
                    intensive program that equips you with the right skills needed
                    to thrive as a Data Analytics Expert.
                  </p>
                  <a href="/data_analytics">Enrol Now</a>
                </div>
              </article>
            </main>
          </section>

          <!-- WHY CHOOSE US -->

          <section class=" choose_us">
            <h2 class="mobile">Why Choose Us</h2>
              <img loading="lazy" src="images/DCK 1.png" alt="" />
            <article>
              <h2>Why Choose Us</h2>
              <p>
                Digital Careers Academy is committed to helping you secure high
                paying jobs by providing unique IT skills training and work
                experience. Our training facilitators are competent in Product
                Management, Business Analysis, Scrum Master & Data Analytics. Our
                interns gain work experience by using collaborative and product
                development tools in a simulated environment. <br /> We guide
                candidates through the entire development cycle of products from
                design to launch in an agile environment and have a plethora of
                vetted digital career mentors to guide you in securing high paying
                digital roles. See what people are saying about the founder on
                LinkedIn <br />
                  <a href="https://www.linkedin.com/posts/oludare-olorunfemi">
                    See what people are saying about the founder on LinkedIn
                    <span class="icon">
                      <LinkedInIcon />
                    </span>
                  </a>
                  <a href="https://www.linkedin.com/posts/oludare-olorunfemi">
                    https://www.linkedin.com/posts/oludare-olorunfemi
                  </a>
              </p>
              <div>
                <button class="enrol"> Enrol for Courses
                </button>
                <button class="read_more"> Read More </button>
              </div>
            </article>
          </section>

          <!-- SUCCESS STORIES -->
          <section class="success_story">
            <h2> Success Stories</h2>
          <div class="testimonial-container">
            <article class="testimonial-card">
              <img src="images/testimonial_1.png" alt="" />
              <p>
                “I am happy to inform you that I have secured a process Analyst
                position with a Government Agency in the U.K. I am happy and
                excited about the opportunity. I want to thank the coaching team
                and Prof Oludare for your mentorship, support and the remarkable
                learning experience during my practical{" "}
                <strong> Business Analysis program.</strong> I encourage all
                present DCA students to stay motivated, Keep sweating it out and
                getting your hands dirty, you work and dedication will definitely
                be rewarded”
              </p>
              <p class="name">OLU</p>
            </article>
            <article class="testimonial-card">
              <img src="images/testimonial_2.png" alt="" />
              <p>
                “I’m pleased to announce I have been offered a role as a{" "}
                <strong> Business Analyst </strong> for a software development
                company within the risk management sector. Always think about the
                end result, why you are on this platform, visualize the house, car
                and the ability to treat yourself and your family. When you
                succeed you will not only be a blessing to your own life but to
                others only”.
              </p>
              <p class="name"> DAREN.S</p>
            </article>
        </div>
        <div class="testimonial-container">
            <article class="testimonial-card">
              <img src="images/Rectangle 32.png" alt="" />
              <p>
                “I recently complete the Digital Careers Academy's Business
                Program and it has been an incredible experience. The courses are
                well structured, the instructors are knowledgeable and always
                willing to help and their support network is top-notch. I have
                just Secured a <strong>Business Analyst</strong> role.”
              </p>
              <p class="name">PEACE</p>
            </article>
            <article class="testimonial-card">
              <img src="images/image 18.png" alt="" />
              <p>
                “I am glad and excited to announce to my privacy team that I have
                secured a <strong> Data Protection </strong> Specialist job and I
                give God the Glory. This achievement couldn't have been possible
                without the persistent support of Prof Oludare, he encouraged and
                believe in me, he was always available at all times. I also put in
                the shift with so much hard work and dedication. The tunnel might
                seem very dim but keep pushing and success will be yours”.
              </p>
              <p class="name">ANONYMOUS</p>
            </article>
        </div>
      </section>
  
          <!-- COUNTER -->
          <section id="parent" class="info">
            <div>
              <p class="number">
                <span data-val="200" class="counter">
                  000
                </span>
                <span class="plus">+</span>
              </p>
              <p class="detail">Success Stories</p>
            </div>
            <div>
              <p class="number">
                <span data-val="100" class="counter">
                  000
                </span>
                <span class="plus">+</span>
              </p>
              <p class="detail">Candidates</p>
            </div>
            <div>
              <p class="number">
                <span data-val="45" class="counter">
                  00
                </span>
                <span>+</span>
              </p>
              <p class="detail">Digital Products </p>
            </div>
            <div>
              <p class="number">
                <span data-val="10" class="counter">
                  00
                </span>
                <span>+</span>
              </p>
              <p class="detail">Career Mentor</p>
            </div>
          </section>
          
      
    


    <footer>
        <article class="first">
            <img id="img" src="images/header_logo.png" alt="" />
            <aside>
              <a href=""><img src="images/image 11.png" alt=""/></a>
              <a href="https://www.facebook.com/digitalcareersacademyDCA"> <img src="images/image 10.png" alt=""/></a>
              <a href=""><img src={whatsapp} alt=""/></a>
              <a href=""><img src="images/image 14.png" alt=""/></a>
              <a href="https://www.linkedin.com/company/digitalcareersacademydca"><img src="images/image 12.png" alt=""/></a>
              <a href="https://www.instagram.com/digitalcareersacademy/"><img src="images/image 13.png" alt=""/></a>
            </aside>
          </article>
          <article class="second">
            <section class="one">
              <p>Digital Career Academy</p>
              <p>
                Office Address: <br /> BOS House,Olden way Buiness Park,Ballybrit
                Galeway,H91 E65V, Ireland
              </p>
            </section>
            <section class="two">
              <h4>Program Track</h4>
              <a href="/"> Practical Scrum Master</a>
              <a href="">Practical Business Analysis</a>
              <a href=""> Data Analysis</a>
            </section>
            <section className="three">
              <h4>Resources</h4>
              <a href="">About Us</a>
              <a href="">Privacy</a>
              <a href=""> Terms and Condition</a>
              <a href=""> FAQS</a>
            </section>
            <section className="four">
              <h4>Contact Us</h4>
              <p>
                <span>+353 91724190</span>
                <span> +353 871152980</span>
              </p>
              <p>info@digitalcareers.academy</p>
              <p>
                <span>Whatsapp</span>
                <span>+447488818292</span>
                <span>+1587330305</span>
              </p>
            </section>
          </article>
          <p className="base">© 2023 DCA Inc. All rights reserved.</p>
        </footer>
    
    </footer>

    <script>
        function animateCounters() {
          const counterElements = document.querySelectorAll('.counter');
      
          counterElements.forEach(element => {
            const targetValue = parseInt(element.getAttribute('data-val'));
            let currentValue = 0;
            const interval = 10; // milliseconds
            const step = Math.ceil(targetValue / (1000 / interval)); // Increment by 1/1000th of target every "interval" ms
      
            const updateCounter = () => {
              currentValue += step;
              if (currentValue >= targetValue) {
                currentValue = targetValue;
                clearInterval(counterInterval);
              }
              element.textContent = currentValue.toString().padStart(3, '0');
            };
      
            const counterInterval = setInterval(updateCounter, interval);
          });
        }
      
        // Call the function to start the animation
        animateCounters();
      </script>

      <script>
          document.addEventListener('DOMContentLoaded', () => {
          const testimonialCards = document.querySelectorAll('.testimonial-card');
  
          testimonialCards.forEach((card, index) => {
          const pairIndex = Math.floor(index / 2); // Divide by 2 to group cards in pairs
          const delay = pairIndex * 10; // Adjust the delay as needed
    
          card.style.animation = `slideIn 0.5s ease ${delay}s both`;
         });
       });

      </script>
      


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
