<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../static/css/refactored/main.css" />

    <link href="../static/css/home/owl.carousel.min.css" rel="stylesheet">

    <link href="../static/css/home/owl.theme.default.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/home/landmain.css">
    
    <title>DCA | Home </title>
    
    <script src="https://kit.fontawesome.com/668787d471.js" crossorigin="anonymous"></script>
  </head>
  <body>

<!-- Carousel Start -->
<!-- Header -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../static/assets/images/dcasvg-logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="courses.html">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="work-experience.html">Work Experience Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faqs.html">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="freetasterform.html"><button class="btn btn-info">Free Taster Session</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <div class="connect_me">
            <a aria-current="page" style="right: -150px;" class="enquiry active" href="">
              <i class="fa-brands fa-info"></i>
            <span>Enquiry</span>
            </a>
            <a aria-current="page" class="telegram active" href="" class="">
                <i class="fa-brands fa-telegram"></i>
                <span>Telegram</span>
            </a>
            <a aria-current="page" class="whatsapp active" href="" class="">
                <i class="fa-brands fa-whatsapp"></i>
                <span>Whatsapp</span>
            </a>
            <a aria-current="page" class="message active" href="" class="">
                <i class="fa-brands fa-message"></i>
                <span>Book A Call</span>
            </a>

        </div>
<!--HERO-->
        <section class="courses-hero d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-white text-center">LANDING </h1>
              </div>
            </div>
          </div>
        </section>
      


  <!--COURSES-->


  <section class="courses section-padding">
    <h2>Explore Our Courses</h2>
    <main>
      <article>
        <div class="detail">
          <img loading="lazy" src="../static/assets/images/Scrum master png.png" alt="" />
          <span>Practical Scrum Master</span>
        </div>
        <div class="swipe_up">
          <h4>Practical Scrum Master</h4>
          <p>
            The Practical Scrum Master training is a 6-week fast-track,
            intensive program that equips you with the right skills needed
            to thrive as an experienced Scrum Master within an Agile Product
            Development environment.
          </p>
          <a href="#"> Enrol Now</a>
        </div>
      </article>
      <article id="business_analysis">
        <div class="detail">
          <img loading="lazy" src="../static/assets/images/Business Analytics.png" alt=""/>
          <span>Practical Business Analysis</span>
        </div>

        <div  class="swipe_up">
          <h4>Practical Business Analysis</h4>
          <p>
            Jumpstart your TECH career by enrolling for Digital Careers
            Academy's 6-week intensive Business Analysis program. Learn to
            identify business needs and translate business requirements into
            actionable technical specifications.
          </p>
          <a href="#">Enrol Now</a>
        </div>
      </article>
      <article>
        <div class="detail">
          <img loading="lazy" src="../static/assets/images/Data Analytics.png" class="img-fluid" alt="" />
          <span id="data_a">Data Analytics</span>
        </div>
        <div class="swipe_up">
          <h4> Data Analytics</h4>
          <p>
            Data Analytics experts are in high demand within the global tech
            industry. The Practical Data Analytics training is a 12-week
            intensive program that equips you with the right skills needed
            to thrive as a Data Analytics Expert.
          </p>
          <a href="#">Enrol Now</a>
        </div>
      </article>
    </main>
  </section>



  <!--WHY CHOOSE US-->

  <section  class=" why-us p-5 section-padding">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-4 col-md-4 col-12">
          <img src="../static/assets/images/DCK 1.png" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-8 col-md-8 col-12">
          <h2>Why Choose Us</h2>
          <p class=" mt-5 ">
            Digital Careers Academy is committed to helping you secure high
                paying jobs by providing unique IT skills training and work
                experience. Our training facilitators are competent in Product
                Management, Business Analysis, Scrum Master & Data Analytics. Our
                interns gain work experience by using collaborative and product
                development tools in a simulated environment. <br /> We guide
                candidates through the entire development cycle of products from
                design to launch in an agile environment and have a plethora of
                vetted digital career mentors to guide you in securing high paying
                digital roles. <br />
                  <a href="https://www.linkedin.com/posts/oludare-olorunfemi">
                    See what people are saying about the founder on LinkedIn
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg>
                  </a>    
          </p>
              <button type="button" class="btn btn-primary ">Enrol for courses</button>
              <button class="btn btn-outline-dark px-4">Read More</button>    
          
        </div>
      </div>
    </div>
</section>



<!--SUCCESS STORIES-->
<section class="reviews-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-12">
              <h2 class="text-center mb-5">Success Stories</h2>
              <div class="owl-carousel owl-theme reviews-carousel">

                  <div class="reviews-thumb">
                      <div class="reviews-info d-flex align-items-center">
                          <img src="../static/assets/images/testimonial_1.png" class="avatar-image img-fluid" alt="">
                      </div>
                      <div class="reviews-body">
                          <p>
                              “I'm pleased to announce I have been offered a role as a
                              <strong> Business Analyst </strong> for a software development
                              company within the risk management sector. Always think about the
                              end result, why you are on this platform, visualize the house, car
                              and the ability to treat yourself and your family. When you
                              succeed you will not only be a blessing to your own life but to
                              others only”.
                            </p>
                            <h6 class="text-center" >DAREN.S</h6>
                      </div>
                  </div>

                  <div class="reviews-thumb">
                      <div class="reviews-info d-flex align-items-center">
                          <img src="../static/assets/images/testimonial_2.png" class="avatar-image img-fluid" alt="">
                      </div>
                      <div class="reviews-body">
                          <p>
                              “I recently complete the Digital Careers Academy's Business
                              Program and it has been an incredible experience. The courses are
                              well structured, the instructors are knowledgeable and always
                              willing to help and their support network is top-notch. I have
                              just Secured a <strong>Business Analyst</strong> role.”
                            </p>
                          <h6 class="text-center" >PEACE</h6>
                      </div>
                  </div>

                  <div class="reviews-thumb">
                      <div class="reviews-info d-flex align-items-center">
                          <img src="../static/assets/images/image 20.png" class="avatar-image img-fluid" alt="">
                      </div>
                      <div class="reviews-body">
                         <p>
                           “I am glad and excited to announce to my privacy team that I have
                            secured a <strong> Data Protection </strong> Specialist job and I
                            give God the Glory. This achievement couldn't have been possible
                            without the persistent support of Prof Oludare, he encouraged and
                            believe in me, he was always available at all times. I also put in
                            the shift with so much hard work and dedication. The tunnel might
                            seem very dim but keep pushing and success will be yours”.
                         </p>
                          <h6 class="text-center">ANONYMOUS</h6>
                      </div>
                  </div>
                  
              </div>
          </div>

      </div>
  </div>
</section>



<!--COUNTER -->
 
<section>
  <div class="container section-padding">
      <div class="row text-center">
        <div class="p-3 col-lg-3 col-md-6 col-12 counter-item">
          <div class="counter-number">200+</div>
          <div class="counter-label">Success Stories</div>
        </div>
        <div class="p-3 col-lg-3 col-md-6 col-12 counter-item">
          <div class="counter-number">100+</div>
          <div class="counter-label">Candidates</div>
        </div>
        <div class="p-3 col-lg-3 col-md-6 col-12 counter-item">
          <div class="counter-number ">45+</div>
          <div class="counter-label">Digital Products</div>
        </div>
        <div class="p-3 col-lg-3 col-md-6 col-12 counter-item">
          <div class="counter-number">10+</div>
          <div class=" counter-label">Career Mentor</div>
        </div>
      </div>
    </div>
</section>

 
<!--FOOTER-->

    <footer class="footer p-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer__social">
                <div class="footer__social--logo">
                  <img src="../../static/assets/images/dcasvg-logo.svg" alt="" />
                </div>
                <div class="footer__social--icons">
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=63306&format=png" alt="" />
                  </a>
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=118497&format=png" alt="" />
                  </a>
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=16713&format=png" alt="" />
                  </a>
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=13963&format=png" alt="" />
                  </a>
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=13930&format=png" alt="" />
                  </a>
                  <a href="#">
                    <img src="https://img.icons8.com/?size=1x&id=Xy10Jcu1L2Su&format=png" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-3" />
  
          <div class="row">
            <div class="col-md-3 mt-3">
              <div class="footer__links">
                <h4 class="footer__links--title">Digital Career Academy</h4>
  
                <address>
                  Office Address: <br />
                  BOS House, <br />
                  Olden way Buiness Park, <br />
                  Ballybrit Galeway, H91 E65V, Ireland
                </address>
              </div>
            </div>
  
            <div class="col-md-3 mt-3">
              <div class="footer__links">
                <h4 class="footer__links--title">Program Track</h4>
  
                <a href="#">Practical Scrum Master</a>
                <a href="#">Practical Business Analysis</a>
                <a href="#">Data Analysis</a>
              </div>
            </div>
  
            <div class="col-md-3 mt-3">
              <div class="footer__links">
                <h4 class="footer__links--title">Resources</h4>
  
                <a href="#">About Us</a>
                <a href="#">Privacy</a>
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">FAQs</a>
              </div>
            </div>
  
            <div class="col-md-3 mt-3">
              <div class="footer__links">
                <h4 class="footer__links--title">Contact Us</h4>
  
                <address>
                  +353 91724190 <br />
                  +353 871152980
                </address>
  
                <a href="mailto:info@digitalcareers.academy">Send Email</a>
  
                <address>
                  WhatsApp <br />
                  +447488818292
                  <br />
                  +1587330305
                </address>
              </div>
            </div>
          </div>
        </div>
      </footer>
      

    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <!-- 
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->


      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/owl.carousel.min.js"></script>
      <script src="../static/js/counter.js"></script>
      <script src="../static/js/custom.js"></script>

</body>
</html>
 