<!DOCTYPE html>
<head>
    <title>
        About Us
    </title>
    <link rel="stylesheet" href="about.css" >
</head>
<body>
    <div id="head">
         <h1><center>About us</center></h1>
    </div>
    <div class="sec1">
        <div class="wrapper">
            <section><img src="a.jpg" alt="" width="100%"></section>
            <section><h2>About Us</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.</p></section>
            
        </div>      
    </div>
    <div class="sec1">
        <div class="wrapper">
            <section><h2>Why Digital Careers Academy</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                 non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                 officia deserunt mollit anim id est laborum.</p></section>
            <img src="ca.png" alt="" width="100%">
        </div>       
    </div> 
    <div class="sec1">
        <h2><center>MEET OUR COACHES</center></h2>
        <div class="wrapper">
            <section>
                <center><img class="imag" src="b.png" width="30%"></center><div class="box1">About Us <br>Lorem ipsum text sample Lorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sample Lorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sample</div></section>
                <section>
                    <center><img class="imag" src="b.png" width="30%"></center><div class="box1">About Us <br>Lorem ipsum text sample Lorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sample Lorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sampleLorem ipsum text sample</div></section>
               
            </div>       
    </div>
</body>