<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DCA | FAQs Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Signika+Negative:wght@300;400;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../../static/css/refactored/main.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../static/assets/images/dcasvg-logo.svg" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="work-experience.html">Work Experience Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faqs.html">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="freetasterform.html"><button class="btn btn-info">Free Taster
                                Session</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section class="courseDetail-hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-white text-center">Practical Scrum Master</h1>
                    </div>
                </div>
            </div>
        </section>


        <section class="course">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mb-5">
                        <div class="course__main-bg">
                            <img src="https://images.unsplash.com/photo-1611224885990-ab7363d1f2a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2NydW18ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="course__main-text">
                            <h4 class="mb-5">Become a skilled scrum master</h4>

                            <p class="mb-5">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi sunt nisi obcaecati
                                soluta repellat quaerat nam maxime laboriosam. Voluptas reprehenderit id ipsam neque,
                                doloremque cum, omnis nisi vero quod tempore, accusamus sint nobis ratione in velit
                                architecto beatae libero amet. Amet animi voluptatem aliquam aliquid facilis fugit
                                magnam soluta hic dolores! Impedit cupiditate voluptates et, iste expedita quod
                                provident laudantium itaque veritatis rem nihil hic ab nisi fugit laboriosam quisquam
                                quibusdam! Cupiditate deleniti molestiae provident laudantium quos. Maxime fuga
                                temporibus officiis molestiae, aspernatur tempore consequatur magni quam minima officia.
                                Assumenda iusto veritatis non nostrum temporibus vero at laborum eaque possimus!
                            </p>

                            <a href="#" class="btn btn-custom btn-lg">Enrol Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="courseInfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mx-auto mb-5">
                        <div class="courseInfo__box">
                            <h4>price</h4>
                            <h4>£800</h4>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto mb-5">
                        <div class="courseInfo__box">
                            <h4>Course Duration</h4>
                            <h4>8 Weeks</h4>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto mb-5">
                        <div class="courseInfo__box">
                            <h4>Mode of Learning</h4>
                            <h4>Virtual</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="course">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="course__main-text">
                            <h4>Prospective Learners</h4>

                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi sunt nisi obcaecati
                                soluta repellat quaerat nam maxime laboriosam. Voluptas reprehenderit id ipsam neque,
                                doloremque cum, omnis nisi vero quod tempore, accusamus sint nobis ratione in velit
                                architecto beatae libero amet. Amet animi voluptatem aliquam aliquid facilis fugit
                                magnam soluta hic dolores! Impedit cupiditate voluptates et, iste expedita quod
                                provident laudantium itaque veritatis rem nihil hic ab nisi fugit laboriosam quisquam
                                quibusdam! Cupiditate deleniti molestiae provident laudantium quos. Maxime fuga
                                temporibus officiis molestiae, aspernatur tempore consequatur magni quam minima officia.
                                Assumenda iusto veritatis non nostrum temporibus vero at laborum eaque possimus!
                            </p>

                            <!-- <a href="#" class="btn btn-custom btn-lg">Enrol Now</a> -->
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 mb-5">
                        <div class="course__main-bg">
                            <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="program-desc features">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="features__list">
                            <h4 class="text-center mb-5">Scrum Master Accountability</h4>

                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, officia.</li>
                                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                                <li>Business Process Improvement Analyst</li>
                                <li>Product Manager</li>
                                <li>Bubble Software Developer</li>
                                <li>Scrum Master</li>
                                <li>Data Privacy Expert</li>
                                <li>and so much more</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="course program-desc overview">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mb-5">
                        <div class="course__main-bg">
                            <img src="https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNvdXJzZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="course__main-text">
                            <h4>Course Overview</h4>

                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, officia.</li>
                                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                                <li>Business Process Improvement Analyst</li>
                                <li>Product Manager</li>
                                <li>Bubble Software Developer</li>
                                <li>Scrum Master</li>
                                <li>Data Privacy Expert</li>
                                <li>and so much more</li>
                            </ul>

                            <a href="#" class="btn btn-custom btn-lg">Enrol Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Success Stories!-->
        <section class="bg-light py-5">
            <div class="container">
                <h4 class="text-center mb-3">Success Stories</h4>
                <div class="testimonials d-flex align-items-center">
                    <!-- Column !-->
                    <div>
                        <!-- Row !-->
                        <div class="row g-3 g-md-4 align-items-center">
                            <!-- Column !-->
                            <div class="col-md-4 mr-auto">
                                <!-- Image !-->
                                <figure class="text-center p-md-3 mb-0"><img class="img-fluid"
                                        src="../../static/assets/images/img6.png" alt="" title="" /></figure>
                            </div>
                            <!-- Column !-->
                            <div class="col-md-6 offset-md-1">
                                <div class="position-relative">
                                    <!-- Icon !--><span
                                        class="d-block position-absolute top-50 start-50 translate-middle text-muted quote_">
                                        <svg class="bi bi-quote" xmlns="http://www.w3.org/2000/svg" width="200"
                                            height="200" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z">
                                            </path>
                                        </svg></span>
                                    <!-- Icon Star !--><span class="d-block text-warning">
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg></span>
                                    <!-- Paragraph !-->
                                    <p class="mt-4 mb-5">Contrary to popular belief, Lorem Ipsum is not
                                        simply random
                                        text. It has roots in a piece of classical Latin literature from 45 BC, making
                                        it over
                                        2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                                        in
                                        Virginia, looked up one of the more obscure Latin words</p>
                                    <div class="d-flex align-items-center gap-3">
                                        <!-- Image !-->
                                        <!-- Text !-->
                                        <div class="flex-grow-1">
                                            <h4 class="text-center fs-5 fw-bold">Hasan Luongo</h4>
                                            <!-- <span
                                                class="small text-muted">Vice
                                                Executive at<a class="text-decoration-none" href="#">Linkedin</a></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column !-->
                    <div>
                        <!-- Row !-->
                        <div class="row g-3 g-md-4 align-items-center">
                            <!-- Column !-->
                            <div class="col-md-4 mr-auto">
                                <figure class="text-center p-md-3 mb-0"><img class="img-fluid"
                                        src="../../static/assets/images/img7.png" alt="" title="" /></figure>
                            </div>
                            <!-- Column !-->
                            <div class="col-md-6 offset-md-1">
                                <div class="position-relative">
                                    <!-- Icon !--><span
                                        class="d-block position-absolute top-50 start-50 translate-middle text-muted quote_">
                                        <svg class="bi bi-quote" xmlns="http://www.w3.org/2000/svg" width="200"
                                            height="200" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z">
                                            </path>
                                        </svg></span>
                                    <!-- Icon Star !--><span class="d-block text-warning">
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg>
                                        <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" viewbox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                            </path>
                                        </svg></span>
                                    <!-- Paragraph !-->
                                    <p class="mt-4 mb-5">
                                        &ldquo;Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                        eirmod
                                        tempor invidunt ut
                                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                        et justo
                                        duo dolores et
                                        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.&rdquo;
                                    </p>
                                    <!-- Image !-->
                                    <div class="d-flex align-items-center gap-3">
                                        <!-- Text !-->
                                        <div class="flex-grow-1">
                                            <h4 class="text-center fs-5 fw-bold">David Mark</h4>
                                            <!-- <span
                                                class="small text-muted">Developer
                                                at<a class="text-decoration-none" href="#">Twitter</a></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ends !-->

    </main>

    <footer class="footer p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer__social">
                        <div class="footer__social--logo">
                            <img src="../../static/assets/images/dcasvg-logo.svg" alt="" />
                        </div>
                        <div class="footer__social--icons">
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=63306&format=png" alt="" />
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=118497&format=png" alt="" />
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=16713&format=png" alt="" />
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=13963&format=png" alt="" />
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=13930&format=png" alt="" />
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=1x&id=Xy10Jcu1L2Su&format=png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-3" />

            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="footer__links">
                        <h4 class="footer__links--title">Digital Career Academy</h4>

                        <address>
                            Office Address: <br />
                            BOS House, <br />
                            Olden way Buiness Park, <br />
                            Ballybrit Galeway, H91 E65V, Ireland
                        </address>
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="footer__links">
                        <h4 class="footer__links--title">Program Track</h4>

                        <a href="#">Practical Scrum Master</a>
                        <a href="#">Practical Business Analysis</a>
                        <a href="#">Data Analysis</a>
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="footer__links">
                        <h4 class="footer__links--title">Resources</h4>

                        <a href="#">About Us</a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms &amp; Conditions</a>
                        <a href="#">FAQs</a>
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="footer__links">
                        <h4 class="footer__links--title">Contact Us</h4>

                        <address>
                            +353 91724190 <br />
                            +353 871152980
                        </address>

                        <a href="mailto:info@digitalcareers.academy">Send Email</a>

                        <address>
                            WhatsApp <br />
                            +447488818292
                            <br />
                            +1587330305
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script>
        $('.testimonials').slick({
            autoplay: true,
            autoplaySpeed: 2000,
            dots: true,
            arrows: true,
            infinite: true,
            slidesToShow: 1,
            adaptiveHeight: true,
            fade: true,
            cssEase: 'linear',
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                        arrows: 'flase'
                    }
                }
            ]
        });
    </script>
</body>

</html>