<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DCA | FAQs Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../../static/css/refactored/main.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../static/assets/images/dcasvg-logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="courses.html">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="work-experience.html">Work Experience Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faqs.html">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="freetasterform.html"><button class="btn btn-info">Free Taster Session</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section class="faq-hero d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-white text-center">Frequently Asked Questions.</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="faqs p-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="accordion" id="accordionGeneral">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">What is Digital Careers Academy and what does it offer?</button>
                  </h2>

                  <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Digital Careers Academy is an e-learning platform specifically designed for professionals looking to transition into the tech industry. It provides comprehensive courses, hands-on trainings and resources to upskill individuals with the necessary knowledge and skills for a successful career in technology.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTwo" aria-expanded="false" aria-controls="accordionGeneralTwo">Are the courses at Digital Careers Academy suitable for beginners with no technological backgrounds?</button>
                  </h2>

                  <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Absolutely! Our courses are designed to cater to individuals with various levels of tech knowledge, including complete beginners.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralThree" aria-expanded="false" aria-controls="accordionGeneralThree">Can I access the course material on any device?</button>
                  </h2>

                  <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Yes, our e-learning platform is fully responsive, allowing you to access course materials on any device with an internet connection, such as a computer, tablet, or smartphone.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralFour" aria-expanded="false" aria-controls="accordionGeneralFour">How does the enrollment process work?</button>
                  </h2>

                  <div id="accordionGeneralFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Enrolling in the Digital Careers Academy is straightforward. Simply browse through our website for available courses and choose the one that aligns with your career goals. You can attend a free taster before enrolling. After enrollment, you will gain immediate access to the live classes and course materials.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralFive" aria-expanded="false" aria-controls="accordionGeneralFive">What types of tech careers are covered in the courses?</button>
                  </h2>

                  <div id="accordionGeneralFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Our courses cover a wide range of tech careers, including data analysis, scrum master, business analysis, and product management. We strive to offer diverse options to match individual interests and aspirations.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralSix" aria-expanded="false" aria-controls="accordionGeneralSix">How long do I have access to the course materials?</button>
                  </h2>

                  <div id="accordionGeneralSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">You will have unlimited access to the course materials during the duration of your course and for as long as you are active on our platform, the course is available. This way, you can review the content and refresh your knowledge even after completing the course.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralSeven" aria-expanded="false" aria-controls="accordionGeneralSeven">Are there any opportunities For hands-on experience or real-world projects?</button>
                  </h2>

                  <div id="accordionGeneralSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Yes, we emphasise real hands-on experience for our candidates, we believe in providing practical learning experiences. Many of our courses include hands-on projects and real-world simulations to reinforce your learning and help you build a portfolio to showcase your skills to potential employers.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralEight" aria-expanded="false" aria-controls="accordionGeneralEight">Do you offer support?</button>
                  </h2>

                  <div id="accordionGeneralEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">Yes, we are committed to helping our candidates succeed in their tech careers.We offer career support services, including resume building and interview preparation, to increase your chances of landing your dream tech job.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralNine" aria-expanded="false" aria-controls="accordionGeneralNine">Can I study at my own pace,or are there specific deadlines?</button>
                  </h2>

                  <div id="accordionGeneralNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionGeneral">
                    <div class="accordion-body">
                      <p class="large-paragraph">We understand that everyone's learning pace is different. Our courses and trainings are intensive for initial 6 weeks. However , you are allowed to self-paced at your convenience and complete modules as per your schedule.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTen" aria-expanded="false" aria-controls="accordionGeneralTen">What set Digital Careers Academy apart from other e-learning platforms?</button>
                  </h2>

                  <div
                    id="accordionGeneralTen"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTen
                                    "
                    data-bs-parent="#accordionGeneral"
                  >
                    <div class="accordion-body">
                      <p class="large-paragraph">Digital Careers Academy stands out for its specialized focus on helping professionals transition into the tech industry. Our curated courses, career support, practical projects, and flexible learning options make us the ideal platform for anyone seeking a successful tech career change.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer p-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer__social">
              <div class="footer__social--logo">
                <img src="../../static/assets/images/dcasvg-logo.svg" alt="" />
              </div>
              <div class="footer__social--icons">
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=63306&format=png" alt="" />
                </a>
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=118497&format=png" alt="" />
                </a>
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=16713&format=png" alt="" />
                </a>
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=13963&format=png" alt="" />
                </a>
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=13930&format=png" alt="" />
                </a>
                <a href="#">
                  <img src="https://img.icons8.com/?size=1x&id=Xy10Jcu1L2Su&format=png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="m-3" />

        <div class="row">
          <div class="col-md-3 mt-3">
            <div class="footer__links">
              <h4 class="footer__links--title">Digital Career Academy</h4>

              <address>
                Office Address: <br />
                BOS House, <br />
                Olden way Buiness Park, <br />
                Ballybrit Galeway, H91 E65V, Ireland
              </address>
            </div>
          </div>

          <div class="col-md-3 mt-3">
            <div class="footer__links">
              <h4 class="footer__links--title">Program Track</h4>

              <a href="#">Practical Scrum Master</a>
              <a href="#">Practical Business Analysis</a>
              <a href="#">Data Analysis</a>
            </div>
          </div>

          <div class="col-md-3 mt-3">
            <div class="footer__links">
              <h4 class="footer__links--title">Resources</h4>

              <a href="#">About Us</a>
              <a href="#">Privacy</a>
              <a href="#">Terms &amp; Conditions</a>
              <a href="#">FAQs</a>
            </div>
          </div>

          <div class="col-md-3 mt-3">
            <div class="footer__links">
              <h4 class="footer__links--title">Contact Us</h4>

              <address>
                +353 91724190 <br />
                +353 871152980
              </address>

              <a href="mailto:info@digitalcareers.academy">Send Email</a>

              <address>
                WhatsApp <br />
                +447488818292
                <br />
                +1587330305
              </address>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
